<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        {% stylesheets
                'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
                'assets/vendor/font-awesome/css/font-awesome.min.css'
                'assets/vendor/dist/css/responsive.css'
                'assets/vendor/dist/css/animate.css'
                'assets/vendor/dist/css/slider.css'
                'assets/vendor/dist/css/owl.carousel.css'
                'assets/vendor/dist/css/owl.theme.css'
                'assets/vendor/dist/css/main.css'
                'assets/vendor/dist/css/login-style.css'
                'assets/vendor/dist/css/register-style.css'
                filter='cssrewrite' output='css/app.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

        {% javascripts 
            'assets/vendor/jquery/dist/jquery.min.js'
            'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
            'assets/vendor/dist/js/wow.min.js'
            'assets/vendor/dist/js/slider.js'
            'assets/vendor/dist/js/jquery.fancybox.js'
            'assets/vendor/dist/js/owl.carousel.min.js'
            'assets/vendor/dist/js/main.js'
            'assets/vendor/dist/js/modernizr-2.6.2.min.js'
            output='js/appVisao.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block javascripts %}
        {% endblock %}
    </body>

</html>
