{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Academic Reminder{% endblock %}</title>
    	<div id="includes">
    		{% include 'includeCss.html' %}
    	</div>
    </head>
    <body>
        <!-- Header -->
        {% include 'default/header.html.twig' %}

        <!-- Modal - login -->
        {% include 'default/loginModal.html.twig' %}

        <!-- Conteúdo -->
        <div id="content">
            {% block body %}{% endblock %}
        </div>

        {% include 'includeJs.html' %}
        
        <!-- Footer -->
        {% include 'default/footer.html.twig' %}
    </body>
</html>