<footer id="footer">
    <div class="container">
        <div class="col-md-8">
            <p class="copyright">Copyright &copy; <span>2016</span>. Desenvolvido por <a href="https://twitter.com/gamoridev" target="blank">@gamoridev</a> & sobek</p>
        </div>
        <div class="col-md-4">
            <!-- Social Media -->
            <ul class="social">
                <li>
                    <a href="https://github.com/areminder/areminder.github.io" target="blank">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>