<header id="top-bar" class="navbar-fixed-top animated-header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <a href="/">Academic Reminder</a>
            </div>
        </div>
        <nav class="collapse navbar-collapse navbar-right" role="navigation">
            <div class="main-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Início</a>
                    </li>
                    <li style="padding-top: 9px">
                        <form action="registro">
                            <button class="btn btn-success">REGISTRE-SE</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>