{# app/Resources/default/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <!-- Navegação do topo -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Navegação</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Academic Reminder</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li style="padding-top: 9px">
                        <form action="registrar.html">
                            <button class="btn btn-primary">Registre-se</button>
                        </form>
                    </li>
                    <li>
                        <a href="#entrar" data-toggle="modal">Entrar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Modal de login-->
    <div class="modal fade" id="entrar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <h1>Entre na sua conta</h1><br>

                <form action="reminder/visao-geral.html">
                    <div class="form-group">
                        <input type="text" placeholder="Nome de usuário ou e-mail">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Senha">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </div>
                    <div class="form-group">
                        <div class="login-help">
                            <a href="registrar.html" style="color: #D33724">Registre-se!</a> - <a href="#">Esqueceu a senha?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Header -->
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Academic Reminder</h1>
                        <h3>Forme-se de maneira organizada</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                        	<li>
                        		<a href="#entrar" data-toggle="modal" class="btn btn-success btn-lg"><i class="fa fa-graduation-cap"></i>
                        			<span class="network-name">Entrar</span>
                        		</a>
                        	</li>
                            <li>
                                <a href="https://github.com/areminder/areminder.github.io" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i>
                                    <span class="network-name">Github</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Conteúdo da página -->
    <!-- Conteúdo no lado esquerdo da página -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6" id="hide-text-a">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">A proposta</h2>
                    <p class="lead">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6 content-icon" style="color:#FFF100" id="hide-icon-a">
                    <i class="fa fa-lightbulb-o circle-icon" style="background-color:#D33724"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- Conteúdo no lado direito da página -->
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6" id="hide-text-b">
                    <hr class="section-heading-spacer"/>
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Organize-se</h2>
                    <p class="lead">"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga."</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6 col-sm-6 content-icon" id="hide-icon-b" style="color:#44f85f">
                    <i class="fa fa-check circle-icon" style="background-color:#001A35"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}