{% extends '::layout/layout.html.twig' %}
    {% block body %}
        <section id="hero-area" >
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="block wow fadeInUp" data-wow-delay=".3s">
                            <section class="cd-intro">
                            <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                            <span>OLÁ, EU SOU O <a style="color:#31B0D5">A</a>CADEMIC <a style="color:#31B0D5">REMINDER</a> E SEREI SEU</span><br>
                            <span class="cd-words-wrapper">
                                <b class="is-visible">GUIA</b>
                                <b>ASSISTENTE</b>
                                <b>AJUDANTE</b>
                                <b>AUXILIADOR</b>
                                <b>SECRETÁRIO</b>
                                <b>COLABORADOR</b>
                            </span>
                            </h1>
                            </section> 
                            <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
                                ORGANIZE SUAS TAREFAS, PROVAS, ANOTAÇÕES EM RECURSOS SIMPLES E DE FÁCIL INCLUSÃO.
                            </h2>
                            <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="registro" data-section="#works">ENTENDA COMO FUNCIONA</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                            <h2>
                            Sobre o serviço
                            </h2>
                            <p>
                                Crie suas tarefas, provas e anotações, organize da maneira desejada mantendo controle sobre elas.
                            </p>
                        
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                            <img src="assets/vendor/images/about/agenda-1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="works" class="works">
            <div class="container">
                <div class="section-heading">
                    <h1 class="title wow fadeInDown" data-wow-delay=".3s">O que você pode fazer</h1>
                    <p class="wow fadeInDown" data-wow-delay=".5s">
                        Registre-se e obtenha vantagens como, marcar suas tarefas em datas específicas, provas e anotações, acompanhe seus deveres!. Construa sua agenda pessoal de modo fácil e rápido. 
                    </p>
                </div>
            </div>
        </section>

        <section id="feature">
            <div class="container">
                <div class="section-heading">
                    <h1 class="title wow fadeInDown" data-wow-delay=".3s">O que nossos estudantes acham</h1>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-xs-12">
                        <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="media-left">
                                <div class="icon">
                                    <img src ="assets/vendor/images/face-icon.jpg">
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Pedro</h4>
                                <p>Adorei os serviços prestados pelo site.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xs-12">
                        <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                            <div class="media-left">
                                <div class="icon">
                                    <img src="assets/vendor/images/pablinho.jpg" alt="pablito">
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Wagner</h4>
                                <p>Consegui organizar minhas tarefas facilmente.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xs-12">
                        <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                            <div class="media-left">
                                <div class="icon">
                                    <img src="assets/vendor/images/avater-2.jpg" alt="">
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Sasha </h4>
                                <p>Ótimo site.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xs-12">
                        <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                            <div class="media-left">
                                <div class="icon">
                                    <img src= "assets/vendor/images/mulher-0.png">
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Ana</h4>
                                <p>Fácil de usar.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xs-12">
                        <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1500ms">
                            <div class="media-left">
                                <div class="icon">
                                    <img src="assets/vendor/images/homem-0.jpg">
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Lucas</h4>
                                <p>Muito bom... ótimo suporte.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xs-12">
                        <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1800ms">
                            <div class="media-left">
                                <div class="icon">
                                    <img src="assets/vendor/images/mulher-2.png">
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Carol</h4>
                                <p>Sou universitária, este site tem me ajudado bastante a manter minha agenda em dias.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms" >COMECE AGORA</h2>
                           
                            <a href="/login" data-toggle="modal" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">ENTRAR</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}