<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Academic Reminder - Sua visão</title>
        <!-- Faz a inclusão dos CSS's para a página interna (visão-geral) -->
        
        {% stylesheets
            'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
            'assets/vendor/font-awesome/css/font-awesome.min.css'
            'assets/vendor/dist/css/sb-admin-2.min.css'
            'assets/vendor/dist/css/metisMenu.min.css'
            filter='cssrewrite' output='css/appVisao.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Navegação</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/visao-geral">aReminder</a>
                </div>               
                <!-- Inclusão do html referente à navegação no topo -->
                {% include 'visao_i/navBar.html.twig' %}
                
                <!-- Navegação lateral - MENU -->
                {% include 'visao_i/menu.html.twig' %}
            </nav>

            <div id="page-wrapper">
                {% block conteudo %}{% endblock %}
            </div>
    </div>
    {% javascripts 
            'assets/vendor/jquery/dist/jquery.min.js'
            'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
            'assets/vendor/dist/js/metisMenu.min.js'
            'assets/vendor/dist/js/sb-admin-2.min.js'
            output='js/appVisao.js' %}
            <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascripts %}
    {% endblock %}

    </body>
