{% extends '::visao_i/layout.html.twig' %}
    {% block conteudo %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Tarefas</h1>
            </div>
        </div>
        <div class="row">
        	{{ form_start(form) }}
        	<button type="submit" class="btn btn-default">Criar nova Tarefa</button>
        	{{ form_widget(form) }}
        	{{ form_end(form) }}

        	{% if tarefas %}
	        	<div class="list-group">
	        		{% for tarefa in tarefas %}
	        			{{ tarefa.descricao }}<br/>
	        		{% endfor %}
	        	</div>
	        {% endif %}
       	</div>
    {% endblock %}