{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<div class="col-lg-12 col-md-offset-5" style="padding-top:250px">
		<label class="">Você já está logado! Clique para <a href="/visao-geral">entrar</a></label>
	</div>
{% endblock fos_user_content %}
