<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Academic Reminder{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets
                'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
                'assets/vendor/font-awesome/css/font-awesome.min.css'
                'assets/vendor/dist/css/*.css'
                output = 'bundles/compiled/css/app.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

    </head>
    <body>
        <!-- Header -->
        {% include 'layout/header.html.twig' %}

        <!-- Modal - login -->
        {% include 'layout/loginModal.html.twig' %}

        <!-- Conteúdo -->
        <div id="content">
            {% block body %}{% endblock %}
        </div>

        {% javascripts
            'assets/vendor/jquery/dist/jquery.min.js'
            'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
            'assets/vendor/dist/js/wow.min.js'
            'assets/vendor/dist/js/slider.js'
            'assets/vendor/dist/js/jquery.fancybox.js'
            'assets/vendor/dist/js/owl.carousel.min.js'
            'assets/vendor/dist/js/main.js'
            'assets/vendor/dist/js/modernizr-2.6.2.min.js' 
            output = 'bundles/compiled/js/app.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% include 'layout/footer.html.twig' %}
    </body>
</html>