<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Academic Reminder{% endblock %}</title>
        {% include 'layout/includeCss.html.twig' %}
    </head>
    <body>
        <!-- Header -->
        {% include 'layout/header.html.twig' %}

        <!-- Modal - login -->
        {% include 'layout/loginModal.html.twig' %}

        <!-- Conteúdo -->
        <div id="content">
            {% block body %}{% endblock %}
        </div>

        {% include 'layout/includeJs.html.twig' %}

        {% include 'layout/footer.html.twig' %}
    </body>
</html>